# Project Phase III: Logica Design and Queries

Based on the feedback you received from previous milstones, using Logica to design the model and translate SQL queries in this notebook.

Note: You might check **company/Logica_COMPANY.ipynb** for more information

### Package Installation

First-time users need to install the following packages

In [1]:
!python3 -m pip install logica
!python3 -m pip install pandas
%pip install ipython-sql

Requirement already satisfied: logica in /home/vscode/.local/lib/python3.9/site-packages (1.3.1415926)
Collecting pandas
  Downloading pandas-2.1.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
     |████████████████████████████████| 12.3 MB 32.7 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /home/vscode/.local/lib/python3.9/site-packages (from pandas) (2.8.2)
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     |████████████████████████████████| 341 kB 93.1 MB/s eta 0:00:01
Collecting numpy<2,>=1.22.4
  Downloading numpy-1.26.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.2 MB)
     |████████████████████████████████| 18.2 MB 66.8 MB/s eta 0:00:01
Collecting pytz>=2020.1
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
     |████████████████████████████████| 502 kB 91.3 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /home/vscode/.local/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pytz, numpy, pandas
Successfully installed numpy-1.26.2 pandas-2.1.3 pytz-2023.3.post1 tzdata-2023.3
Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Collecting sqlalchemy>=2.0
  Downloading SQLAlchemy-2.0.23-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
     |████████████████████████████████| 3.1 MB 52.2 MB/s eta 0:00:01
Collecting sqlparse
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
     |████████████████████████████████| 41 kB 60 kB/s s eta 0:00:01
Collecting ipython-genutils
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: six in /home/vscode/.local/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython in /home/vscode/.local/lib/python3.9/site-packages (from ipython-sql) (8.18.1)
Collecting prettytable
  Downloading prettytable-3.9.0-py3-none-any.whl (27 kB)
Collecting greenlet!=0.4.17
  Downloading greenlet-3.0.1-cp39-cp39-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (610 kB)
     |████████████████████████████████| 610 kB 82.5 MB/s eta 0:00:01
Requirement already satisfied: typing-extensions>=4.2.0 in /home/vscode/.local/lib/python3.9/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.8.0)
Requirement already satisfied: exceptiongroup in /home/vscode/.local/lib/python3.9/site-packages (from ipython->ipython-sql) (1.2.0)
Requirement already satisfied: matplotlib-inline in /home/vscode/.local/lib/python3.9/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: traitlets>=5 in /home/vscode/.local/lib/python3.9/site-packages (from ipython->ipython-sql) (5.14.0)
Requirement already satisfied: jedi>=0.16 in /home/vscode/.local/lib/python3.9/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: pygments>=2.4.0 in /home/vscode/.local/lib/python3.9/site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: pexpect>4.3 in /home/vscode/.local/lib/python3.9/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: stack-data in /home/vscode/.local/lib/python3.9/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /home/vscode/.local/lib/python3.9/site-packages (from ipython->ipython-sql) (3.0.41)
Requirement already satisfied: decorator in /home/vscode/.local/lib/python3.9/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /home/vscode/.local/lib/python3.9/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /home/vscode/.local/lib/python3.9/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /home/vscode/.local/lib/python3.9/site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.12)
Requirement already satisfied: asttokens>=2.1.0 in /home/vscode/.local/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /home/vscode/.local/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: executing>=1.2.0 in /home/vscode/.local/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Installing collected packages: greenlet, sqlparse, sqlalchemy, prettytable, ipython-genutils, ipython-sql
Successfully installed greenlet-3.0.1 ipython-genutils-0.2.0 ipython-sql-0.5.0 prettytable-3.9.0 sqlalchemy-2.0.23 sqlparse-0.4.4
Note: you may need to restart the kernel to use updated packages.

After running the cell above, please restart the kernel to move on

### Package Import

You can disregard the messages ("Could not import ...") when executing the cell below

In [2]:
from logica import colab_logica
import pandas as pd
import sqlite3

Could not import google.cloud.bigquery.
Could not import google.cloud.auth.
Could not import google.colab.widgets.

In [3]:
colab_logica.SetPreamble(
    '@Engine("sqlite"); @AttachDatabase("mydata", "my_database.db");'
)

In [4]:
%load_ext sql

### Database Creation [10pts]

Logica is typically run on a database. Since we only possess CSV files, we need first create a database.

**Note: Upload your csv files to `datasets` folder.**

In [6]:
# Read csv files as Pandas DataFrame [2pts]
# Insert your code below:
Award = pd.read_csv('./datasets/Award.csv')
AwardReceivers = pd.read_csv('./datasets/AwardReceivers.csv')
Department = pd.read_csv('./datasets/Department.csv')
Donor = pd.read_csv('./datasets/Donor.csv')
PresidentProvostDean = pd.read_csv('./datasets/PresidentProvostDean.csv')
Student = pd.read_csv('./datasets/Student.csv')
UniversityMember = pd.read_csv('./datasets/UniversityMember.csv')

In [7]:
# Lowercase the columns from all of the tables [Ignore this step if they're already lowercase] [2pts]

In [8]:
# Using sqlite3 to create database and create tables [6pts]
# Note: Name the database with your group ID
# Insert your code below:
conn = sqlite3.connect("Group1.db")

Award.to_sql('Award', conn, if_exists='replace')
AwardReceivers.to_sql('AwardReceivers', conn, if_exists='replace')
Department.to_sql('Department', conn, if_exists='replace')
Donor.to_sql('Donor', conn, if_exists='replace')
PresidentProvostDean.to_sql('PresidentProvostDean', conn, if_exists='replace')
Student.to_sql('Student', conn, if_exists='replace')
UniversityMember.to_sql('UniversityMember', conn, if_exists='replace')

conn.commit()
conn.close()

### Queries [30pts]
#### Translate your SQL queries from Project Milestone II to Logica queries

To earn the full points, please ensure you fulfill all the three requirements as following:
- Write the queries in English [2pts]
- Write the queries in SQL (copy-paste from phase II)[2pts]
- Write the queries in Logica [7pts]

Note: If you find it hard to do the translation, provide 2 to 3 sentences to explain

#### Query 0:  Which students have received an award worth more than $300?

In [9]:
%%sql sqlite:///Group1.db

SELECT s.student_id, s.student_name, a.award_name, a.award_value
FROM AwardReceivers ar
JOIN Student s ON ar.student_id = s.student_id
JOIN Award a ON ar.award_id = a.award_id
WHERE a.award_value > 300;

Done.

[(11100001, 'Tiannuo Wang', 'Academic Excellence Award', 500),
 (11100010, 'Tobio Kageyama', 'Excellent Sportsmanship Award', 500)]

In [10]:
%%logica HighValueAwards

Student(student_id: "11100001", student_name: "Tiannuo Wang", university_id: "wang12", student_financial_record: "self-funded");
Student(student_id: "11100002", student_name: "Erika Lee", university_id: "elee22", student_financial_record: "self-funded");
Student(student_id: "11100003", student_name: "Shrimanti Pal", university_id: "spal11", student_financial_record: "self-funded");
Student(student_id: "11100004", student_name: "Percy Jackson", university_id: "percy10", student_financial_record: "financial aid");
Student(student_id: "11100005", student_name: "Harry Potter", university_id: "potter3", student_financial_record: "financial aid");
Student(student_id: "11100006", student_name: "Annabeth Chase", university_id: "achase24", student_financial_record: "scholarship");
Student(student_id: "11100007", student_name: "Hermione Granger", university_id: "hgran5", student_financial_record: "scholarship");
Student(student_id: "11100008", student_name: "Draco Malfoy", university_id: "malfoy1", student_financial_record: "self-funded");
Student(student_id: "11100009", student_name: "Ron Weasley", university_id: "rweas7", student_financial_record: "financial aid");
Student(student_id: "11100010", student_name: "Tobio Kageyama", university_id: "tobio9", student_financial_record: "scholarship");
Student(student_id: "11100011", student_name: "Kei Tsukishima", university_id: "kei11", student_financial_record: "scholarship");

AwardReceivers(student_id: "11100001", award_id: "501", received_date: "2023-01-10");
AwardReceivers(student_id: "11100002", award_id: "601", received_date: "2022-11-20");
AwardReceivers(student_id: "11100003", award_id: "503", received_date: "2023-05-12");
AwardReceivers(student_id: "11100004", award_id: "701", received_date: "2022-06-22");
AwardReceivers(student_id: "11100005", award_id: "802", received_date: "2023-05-10");
AwardReceivers(student_id: "11100006", award_id: "506", received_date: "2019-01-05");
AwardReceivers(student_id: "11100007", award_id: "507", received_date: "2019-11-12");
AwardReceivers(student_id: "11100008", award_id: "508", received_date: "2023-01-10");
AwardReceivers(student_id: "11100009", award_id: "702", received_date: "2022-11-20");
AwardReceivers(student_id: "11100010", award_id: "411", received_date: "2023-01-11");

Award(award_id: "501", award_name: "Academic Excellence Award", award_value: 500, award_desc: "Award for top academic performance", donor_id: "401", department_id: "301");
Award(award_id: "601", award_name: "Community Service Award", award_value: 200, award_desc: "Award for outstanding community service", donor_id: "402", department_id: "302");
Award(award_id: "503", award_name: "Innovation in Biology Award", award_value: 300, award_desc: "Award for innovation in biology", donor_id: "401", department_id: "303");
Award(award_id: "701", award_name: "Tech Innovation Award", award_value: 300, award_desc: "Award for innovation in technology", donor_id: "404", department_id: "310");
Award(award_id: "802", award_name: "Creative Writing Award", award_value: 100, award_desc: "Award for excellent creative writing skills", donor_id: "403", department_id: "311");
Award(award_id: "506", award_name: "Innovation in Physics Award", award_value: 300, award_desc: "Award for innovation in physics", donor_id: "401", department_id: "310");
Award(award_id: "507", award_name: "Innovation in Chemistry Award", award_value: 300, award_desc: "Award for innovation in chemistry", donor_id: "401", department_id: "309");
Award(award_id: "508", award_name: "Innovation in Mathematics Award", award_value: 300, award_desc: "Award for innovation in mathematics", donor_id: "401", department_id: "312");
Award(award_id: "702", award_name: "Innovation in Data Science Award", award_value: 300, award_desc: "Award for innovation in data science", donor_id: "404", department_id: "310");
Award(award_id: "411", award_name: "Excellent Sportsmanship Award", award_value: 500, award_desc: "Award for top athletic performance", donor_id: "405", department_id: "341");

HighValueAwards(student_id:, student_name:, award_name:, award_value:) :-
  Student(student_id:, student_name:),
  AwardReceivers(student_id:, award_id:),
  Award(award_id:, award_name:, award_value:),
  award_value > 300;

Query is stored at HighValueAwards_sql variable.

Running predicate: HighValueAwards (1 ms)
The following table is stored at HighValueAwards variable.

  student_id    student_name                     award_name  award_value
0   11100001    Tiannuo Wang      Academic Excellence Award          500
1   11100010  Tobio Kageyama  Excellent Sportsmanship Award          500

#### Query 1:  What is the total value of awards funded by a specific donor named 'Hinata Corp'?

In [11]:
%%sql sqlite:///Group1.db
SELECT d.donor_name, SUM(a.award_value) AS total_award_value
FROM Donor d
JOIN Award a ON d.donor_id = a.donor_id
WHERE d.donor_name = 'Hinata Corp'
GROUP BY d.donor_name;

Done.

[('Hinata Corp', 1700)]

In [12]:
%%logica TotalValue4HinataCorp

Donor(donor_id: "401", donor_name: "Hinata Corp", donor_email: "abc@hinata.com", donor_address: "123 Sunset Drive, LA, CA", donor_phone_number: "123-456-0191");
Donor(donor_id: "402", donor_name: "Castle Inc", donor_email: "xyz@castle.com", donor_address: "304 E Springfield Ave, NYC, NY", donor_phone_number: "123-456-0193");
Donor(donor_id: "403", donor_name: "Beckett Inc", donor_email: "abc123@beckett.com", donor_address: "102 Chalmers Boulevard, Chicago, IL", donor_phone_number: "123-456-0111");
Donor(donor_id: "404", donor_name: "Daichi Holdings", donor_email: "efg@daichi.com", donor_address: "145 Clark Street, Fresno, CA", donor_phone_number: "312-456-0192");
Donor(donor_id: "405", donor_name: "Singh Corp", donor_email: "jkl@singh.com", donor_address: "189 South Street, SF, CA", donor_phone_number: "123-426-0222");

Award(award_id: "501", award_name: "Academic Excellence Award", award_value: 500, award_desc: "Award for top academic performance", donor_id: "401", department_id: "301");
Award(award_id: "601", award_name: "Community Service Award", award_value: 200, award_desc: "Award for outstanding community service", donor_id: "402", department_id: "302");
Award(award_id: "503", award_name: "Innovation in Biology Award", award_value: 300, award_desc: "Award for innovation in biology", donor_id: "401", department_id: "303");
Award(award_id: "701", award_name: "Tech Innovation Award", award_value: 300, award_desc: "Award for innovation in technology", donor_id: "404", department_id: "310");
Award(award_id: "802", award_name: "Creative Writing Award", award_value: 100, award_desc: "Award for excellent creative writing skills", donor_id: "403", department_id: "311");
Award(award_id: "506", award_name: "Innovation in Physics Award", award_value: 300, award_desc: "Award for innovation in physics", donor_id: "401", department_id: "310");
Award(award_id: "507", award_name: "Innovation in Chemistry Award", award_value: 300, award_desc: "Award for innovation in chemistry", donor_id: "401", department_id: "309");
Award(award_id: "508", award_name: "Innovation in Mathematics Award", award_value: 300, award_desc: "Award for innovation in mathematics", donor_id: "401", department_id: "312");
Award(award_id: "702", award_name: "Innovation in Data Science Award", award_value: 300, award_desc: "Award for innovation in data science", donor_id: "404", department_id: "310");
Award(award_id: "411", award_name: "Excellent Sportsmanship Award", award_value: 500, award_desc: "Award for top athletic performance", donor_id: "405", department_id: "341");

TotalValue4HinataCorp(donor_name:, total_award_value? Sum=award_value) distinct :-
  Donor(donor_name:, donor_id:), donor_name = "Hinata Corp",
  Award(donor_id:, award_value:);

Query is stored at TotalValue4HinataCorp_sql variable.

Running predicate: TotalValue4HinataCorp (0 ms)
The following table is stored at TotalValue4HinataCorp variable.

    donor_name  total_award_value
0  Hinata Corp               1700

#### Query 2: How many awards has each department offered, and what is the average value of those awards?

In [13]:
%%sql sqlite:///Group1.db
SELECT dep.department_name, COUNT(a.award_id) AS number_of_awards,
AVG(a.award_value) AS average_award_value
FROM Department dep
JOIN Award a ON dep.department_id = a.department_id
GROUP BY dep.department_name;

Done.

[('Athletics', 1, 500.0),
 ('Biology', 1, 300.0),
 ('Chemistry', 1, 300.0),
 ('Engineering', 3, 300.0),
 ('Environmental Sciences', 1, 200.0),
 ('Liberal Arts', 1, 100.0),
 ('Mathematics', 1, 300.0)]

In [14]:
%%logica DepartmentAwards

Department(department_id: "302", department_name: "Environmental Sciences", department_email: "environment@uni.edu", department_dean: "Dr. Mark Paul");
Department(department_id: "303", department_name: "Biology", department_email: "biology@uni.edu", department_dean: "Dr. John Cook");
Department(department_id: "309", department_name: "Chemistry", department_email: "chemistry@uni.edu", department_dean: "Dr. Marie Curie");
Department(department_id: "310", department_name: "Engineering", department_email: "engineering@uni.edu", department_dean: "Dr. Grace Hopper");
Department(department_id: "311", department_name: "Liberal Arts", department_email: "liberalarts@uni.edu", department_dean: "Dr. Ben Smith");
Department(department_id: "312", department_name: "Mathematics", department_email: "mathematics@uni.edu", department_dean: "Dr. Ada Lovelace");
Department(department_id: "341", department_name: "Athletics", department_email: "sports@uni.edu", department_dean: "Dr. Chad Jones");

Award(award_id: "501", award_name: "Academic Excellence Award", award_value: 500, award_desc: "Award for top academic performance", donor_id: "401", department_id: "301");
Award(award_id: "601", award_name: "Community Service Award", award_value: 200, award_desc: "Award for outstanding community service", donor_id: "402", department_id: "302");
Award(award_id: "503", award_name: "Innovation in Biology Award", award_value: 300, award_desc: "Award for innovation in biology", donor_id: "401", department_id: "303");
Award(award_id: "701", award_name: "Tech Innovation Award", award_value: 300, award_desc: "Award for innovation in technology", donor_id: "404", department_id: "310");
Award(award_id: "802", award_name: "Creative Writing Award", award_value: 100, award_desc: "Award for excellent creative writing skills", donor_id: "403", department_id: "311");
Award(award_id: "506", award_name: "Innovation in Physics Award", award_value: 300, award_desc: "Award for innovation in physics", donor_id: "401", department_id: "310");
Award(award_id: "507", award_name: "Innovation in Chemistry Award", award_value: 300, award_desc: "Award for innovation in chemistry", donor_id: "401", department_id: "309");
Award(award_id: "508", award_name: "Innovation in Mathematics Award", award_value: 300, award_desc: "Award for innovation in mathematics", donor_id: "401", department_id: "312");
Award(award_id: "702", award_name: "Innovation in Data Science Award", award_value: 300, award_desc: "Award for innovation in data science", donor_id: "404", department_id: "310");
Award(award_id: "411", award_name: "Excellent Sportsmanship Award", award_value: 500, award_desc: "Award for top athletic performance", donor_id: "405", department_id: "341");

DepartmentAwards(department_name: , number_of_awards? Count=award_id, average_award_value? Avg=award_value) distinct :-
  Department(department_name:, department_id:),
  Award(award_id:, department_id:, award_value:)

Query is stored at DepartmentAwards_sql variable.

Running predicate: DepartmentAwards (0 ms)
The following table is stored at DepartmentAwards variable.

          department_name  number_of_awards  average_award_value
0               Athletics                 1                500.0
1                 Biology                 1                300.0
2               Chemistry                 1                300.0
3             Engineering                 3                300.0
4  Environmental Sciences                 1                200.0
5            Liberal Arts                 1                100.0
6             Mathematics                 1                300.0